body {
  background: linear-gradient(#f28a56, #a16a76);
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  user-select: none;
}

button::-moz-focus-inner {
  border: 0;
}
